/* Change color of headings */
.markdown-body h2 {
    color: #4682b4; /* Steel blue for H2 */
}
.markdown-body h3 {
    color: #32cd32; /* Lime green for H3 */
}
.markdown-body h4 {
    color: #ffa500; /* Orange for H4 */
}
.markdown-body h5 {
    color: #9370db; /* Medium purple for H5 */
}
.markdown-body h6 {
    color: #2e8b57; /* Sea green for H6 */
}